<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationId</key>
	<string>&lt;INSERT_APP_ID&gt;</string>
	<key>applicationSecret</key>
	<string>&lt;INSERT_APP_SECRET&gt;</string>
	<key>applicationRoute</key>
	<string>&lt;INSERT_APP_ROUTE&gt;</string>
</dict>
</plist>
